<!DOCTYPE html>
<html ng-app="helloApp">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Hello AngularJS - Hello World</title>

<script	src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>
<script>
	angular.module("helloApp", [])
	
	.controller('BookController', ['$scope', function($scope) {      
		$scope.books = {
		        id: 1,
		        name: 'Harry Potter',
		        author: 'J. K. Rowling',
		        stores: [{
			        	id: 1,
			        	name: 'Barnes & Noble', 
			        	quantity: 3
		        		},{
						id: 2,
						name: 'Waterstones',
						quantity: 2
						},{
						id: 3,
						name: 'Book Depository',
						quantity: 5
						}]
					};
			}]);
</script>
</head>
<body>
	<div ng-controller="BookController">
		Id: <span ng-bind="books.id"></span>	<br/>
		Name:<input type="text" ng-model="books.name" />	<br/>
		Author: <input type="text" ng-model="books.author" />
		
		<div ng-repeat="book in books.stores">
			<hr>
			Store Id: <span ng-bind="book.id"></span>	<br/>
			Store Name:<input type="text" ng-model="book.name" />	<br/>
		</div>
	</div>		
</body>
</html>	