<!DOCTYPE html>
<html ng-app="helloApp">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Hello AngularJS - Hello World</title>

<script	src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>
<script>
	angular.module("helloApp", [])
	
	.controller('BookController', ['$scope', '$http', function($scope, $http) {
	    var bookId = 1;
      	$http.jsonp('http://www.mocky.io/v2/583664bb1100006b190c00a1?callback=JSON_CALLBACK').success(function(bookData) {
            $scope.books = bookData;
		});
	}]);
</script>
</head>
<body>
	<div ng-controller="BookController">
		Id: <span ng-bind="books.id"></span>	<br/>
		Name:<input type="text" ng-model="books.name" />	<br/>
		Author: <input type="text" ng-model="books.author" />

		<div ng-repeat="book in books.stores">
			<hr>
			Store Id: <span ng-bind="book.id"></span>	<br/>
			Store Name:<input type="text" ng-model="book.name" />	<br/>
		</div>
	</div>		
</body>
</html>	